{% load static %}
<!doctype html>
<html lang="fa" dir="rtl">
<head>

    {% block meta %} {% endblock %}

    {% block title %} {% endblock %}
    <link rel="shortcut icon" href="../../static/zibar.png" type="image/x-icon">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9680QCK5EH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-9680QCK5EH');
    </script>
    
</head>
<body>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Zibar",
            "url": "http://www.zibar.ir",
            "address": "",
            "sameAs": [
                "https://www.facebook.com/aminmehri",
                "https://www.twitter.com/aminem_mehri",
                "https://www.linkedin.com/company/ziaeitc/mycompany/",
                "https://www.instagram.com/ziatc.ir"
            ]
        }
    </script>

    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" title="باربری زیبار" href="{% url 'home' %}"><img class="rounded-pill" src="{% static 'zibar.png' %}" id="nav-img" width="55px" height="40px" alt="سامانه زیبار" title="سایت زیبار"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'home' %}text-decoration-underline{% endif %} fw-bold" aria-current="page" title="اپلیکیشن اعلام بار" href="{% url 'home' %}">صفحه اصلی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'news' %}text-decoration-underline{% endif %} fw-bold mx-lg-5" title="اخبار حمل و نقل" href="{% url 'news' %}">اخبار</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'about' %}text-decoration-underline{% endif %} fw-bold" title="درباره زیبار" href="{% url 'about' %}">درباره ما</a>
                    </li>
                </ul>
          </div>
        </div>
    </nav>

    <div id="back_to_top">
        <a href="#" title="برگشت به بالا"><i class="fa fa-arrow-circle-o-up p-1" aria-hidden="true"></i></a>
    </div>


    {% block header %} {% endblock %}

    {% block main %} {% endblock %}


    {% block footer %} {% endblock %}




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3dcbca42f9.js" crossorigin="anonymous"></script>
    
    <script>

        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-75px";
        }
        prevScrollpos = currentScrollPos;
        }

    </script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">

</body>

</html>