<!DOCTYPE html>
<html lang="fa">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name='googlebot' content='index, follow' />
	<meta name="robots" content="index, follow">

	<title>صفحه ای یافت نشد.</title>

	<link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
	<link rel="stylesheet" href="../../static/error.css">

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
				<p>ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید</p>
			</div>
			<a href="{% url 'home' %}" title="زیبار">صفحه اصلی</a>
		</div>
	</div>

</body>

</html>